/* Board */

.Black{
    background-color: black;
    color: white;

    border-radius: 50%;
    margin: 4px 2%;
    padding: 1%;
    width: 6%;
}

.dBlue{
    background-color: darkblue;
    color: #8b4600;

    border-radius: 50%;
    margin: 4px 2%;
    padding: 1%;
    width: 6%;
}

.Brown{
    background-color: #A52A2A;
    color: #2aa52a;

    border-radius: 50%;
    margin: 4px 2%;
    padding: 1%;
    width: 6%;
}

.Purple{
    background-color: purple;
    color: yellow;
    
    border-radius: 50%;
    margin: 4px 2%;
    padding: 1%;
    width: 6%;
}

.Green{
    background-color: green;
    color: red;

    border-radius: 50%;
    margin: 4px 2%;
    padding: 1%;
    width: 6%;
}

.Red{
    background-color: red;
    color: green;

    border-radius: 50%;
    margin: 4px 2%;
    padding: 1%;
    width: 6%;
}

.Blue{
    background-color: aqua;
    color: yellow;

    border-radius: 50%;
    margin: 4px 2%;
    padding: 1%;
    width: 6%;
}

.Yellow{
    background-color: yellow;
    color: purple;

    border-radius: 50%;
    margin: 4px 2%;
    padding: 1%;
    width: 6%;
}

.Pink{
    background-color: pink;
    color: #b4ff69;

    border-radius: 50%;
    margin: 4px 2%;
    padding: 1%;
    width: 6%;
}

.Tan{
    background-color: #F0E3DF;
    color: #11e4d6;

    border-radius: 50%;
    margin: 4px 2%;
    padding: 1%;
    width: 6%;
}

.tDawn{
    background-color: #BDC3B9;
    color: black;

    border-radius: 50%;
    margin: 4px 2%;
    padding: 1%;
    width: 6%;
}

.middle{
    display: flex;
    justify-content: center;

    position: absolute;
    top: 20%;
    left: 23%;
}

.UI{
    display: flex;
    justify-content: center;

    position: absolute;
    bottom: 20%;
    left: 30%;
}

.UI1{
    display: flex;
    justify-content: center;

    position: absolute;
    bottom: 15%;
    width: 92%;
}

.Colors1{
    display: flex;
    justify-content: center;

    position: absolute;
    bottom: 7%;
    width: 92%;
}

.Colors2{
    display: flex;
    justify-content: center;

    position: absolute;
    bottom: 0%;
    width: 92%;
}

.clear{
    position: relative;
    left: -20%;
    height: 50px;
    width: 100px;
    border-radius: 25%;
}

.undo{
    position: absolute;
    left: 80%;
    height: 50px;
    width: 100px;   
    border-radius: 25%;
}

.White{
    background-color: #ffffff;
    color: black;

    position: relative;
    left: 140%;
    height: 50px;
    width: 100px;
    border-radius: 25%;
}

input{
    border: 2px solid black;
    background-color: white;

    text-shadow: none;
    font-size: 100%;
    height: 90%;
    width: 50px;

    max-width: 50px;
    max-height: 25px;
}
  
canvas{
    background-color: transparent;
}

/* Word */

.Word{
    display: flex;
    justify-content: center;
    position: relative; 
    bottom: 330px;
    right: 50px;
}

/* Chat */
.Chat{
    position: absolute;
    right: 2%;
    top: 20%;
    border: 2px solid aqua;
    height: 70%;
    width: 20%;
}

.chatInput{
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.MuiInputBase-input-172{
    margin-left: 10%;
    max-width: 90%;
    max-height: 20px;
}

.talk{
    margin-left: 2%;
    max-width: 100%;
}